<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommonDylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LrcTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LrcTestTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MusicLRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PushPodSpec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1408857C1E76916A008B9466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>148BFF2E1E6FCE9300E674D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>148BFF471E6FCE9500E674D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14AF06661E7A4B920029DD34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14EF59F31E78DDD9005ED979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
